<h1 class="title">Select favorite trucks</h1>

<div class="back-box">
  <% @trucks.each do |truck| %>
    <div class="small-4 columns">
      <%= link_to truck.name, truck_path(truck), class: "truck-list-item" %></br>
    </div>
  <% end %>
  .
</div>
