<div class="front-logo animated slideInLeft">Snack</div>
<div class="front-logo animated slideInRight">Tracker</div>
<div class="sub-title">Serving the Greater Boston area since 2017</div>
<ul class="details">
  <div>Search for food trucks, sign up to save your favorites and see your daily food truck schedule!</div>
</ul>
