<div class="front-logo">SnackTracker</div>
<div class="sub-title">Serving the Greater Boston area since 2017</div>
<ul class="details">
  <div>Sort and search for food trucks</div>
  <div>Sign in to make an account and save your favorites</div>
  <div>See your daily food truck schedule!</div>
</ul>
