.page-body {
  background-color: #132C24;
  font-family: 'Bitter';
  margin: 0 auto;
  padding: 3em;
  opacity: 0.9;
  border-radius: 40px;
  color: white;
  width: 75%;
  margin-top: 10px;
}

.sub-heading {
  font-family: 'Bitter';
}

label[for*="user"] {
  color: white;
  font-family: 'Bitter';
}

input[type="submit"] {
  background-color: #FF9600;
  font-family: 'Bitter';
  border-radius: 10px;
}

a:link, a:visited {
  background-color: #FF9600;
  font-family: 'Bitter';
  border-radius: 7px;
}

.field {
  margin: 0 auto;
  width: 75%;
}
