.front-logo {
  background-color: #FF9600;
  opacity: 0.9;
  font-family: 'Pacifico', cursive;
  font-size: 8rem;
  margin-bottom: 0;
  padding-bottom: 0;
  background-size: 100%;
}

.sub-title {
  background-color: #FF9600;
  opacity: 0.9;
  font-family: 'Bitter';
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 20px;
  background-size: 100%;
  color: #2B423A
}

.details {
  background-color: #FF9600;
  opacity: 0.9;
  font-family: 'Bitter';
  font-size: 1.5rem;
  margin: 0 auto;
  padding-bottom: 15rem;
  background-size: 100%;
  color: #2B423A
}
