body  {
    background-image: url("http://ashevillewineandfood.com/sites/default/files/illustration.jpg");
    background-color: white;
    background-repeat: no-repeat;
    font-family: 'Bitter';
    background-position: center;
    background-size: 100%;
    text-align: center;
    color: white;
}

#app {
  background-color: #132C24;
  font-family: 'Bitter';
  margin: 0 auto;
  padding: 10px;
  opacity: 0.9;
  color: white;
  width: 75%;
  border-radius: 10px;
}

.top-bar, .top-bar-left, .top-bar-right, .menu li {
  background-color: #FF9600;
  font-weight: 800;
  color: #2B423A;
}

.menu-text {
  background-color: #FF9600;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
}

.menu {
  font-family: 'Bitter';
  font-size: 1.25rem;
}

a:link {
  color: #2B423A;
}

a:visited {
  color: #2B423A;
}

a:hover {
  color: white;
}

a:active {
  color: yellow;
}

.title {
  color: white;
  font-family: 'Bitter';
  background-color: #FF9600;
  opacity: 0.9;
}
